/*global*/
* {
    margin: 0;
    padding: 0;
    font-family: "Titillium Web", sans-serif;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}

/*utilities*/
.container{
    background-color:#b6c7aa;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

/*text styles*/
.main-text{
    font-weight: 900;
    font-size:55px;
    line-height: 1;
    letter-spacing: 1px;
}
.secondary-text{
    font-weight:700;
    font-size:24px;
    margin-top:20px;
    margin-bottom:5px;
}
.normal-text{
    font-size:20px;
    line-height:1.5;
}
.btn-book{
    display:block;
    width: 200px;
    background-color: black;
    color:white;
    padding:15px;
    text-align: center;
    margin-top:30px;
    font-size:20px;
}

/*header*/
nav a{
    color:black;
    font-weight:300;
    font-size:24px;
    margin:10px 30px;
}
.site-header{
    background-color: #b6c7aa;
}

/*Register*/
.register-body{
    background-color:#b6c7aa;;
}
.secondary-text-reg{
    font-weight:700;
    font-size:24px;
    margin-top:20px;
    margin-bottom:5px;
    text-align: center;
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    width:80%;
}
.input-container label{
    padding: 5px;
    position:absolute;
    left:0;
    top:0;
    height:100%;
    cursor:text;
    transition:0.2s;
}
.input-container input{
    width:100%;
}
.input-container select{
    width:40%;
    margin-right:auto;
}
.form-container{
    padding:20px;
    background-color: #A0937D;
    text-align: center;
    width:70%;
    margin-left: auto;
    margin-right:auto;
    border-radius: 20px;
    border:1px solid white;
}
.form-container fieldset{
    padding:5px 10px;
    border-radius: 5px;
    padding-bottom:15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.input-container:focus-within label{
    top:-20px;
    font-size:10px;
}
.input-container:valid label{
    top:-20px;
}



.register-container{
    background-color:#b6c7aa;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
}
#register{
    font-weight:600;
    display:flex;
    flex-direction: column;
    gap:10px;
}
#reg-num{
    font-weight:600;
    font-size: 32px;
}
.register-number{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom:20px;
}
.btn-submit{
    background-color: #A0937D;
    border:solid 1px white;
    padding:5px 10px;
    margin-top:10px;
    color:white;
    font-weight:600;
    letter-spacing:1px;
    width:70%;
    border-radius:20px;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.error{
    background-color: red;
}

/*Service*/
.service-container{
    background-color: #A0937D;
    display:flex;
    flex-direction: column;
    width:40%;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    margin-bottom:30px;
    padding-top:10px;
    padding-bottom:10px;
    border:1px solid white;
}
.service-container button{
    margin-top:10px;
}